SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=obaz.polnik.sk,62.238.36.64
CSRF_TRUSTED_ORIGINS=http://obaz.polnik.sk,http://62.238.36.64
DATABASE_NAME=/app/data/db.sqlite3
STATIC_ROOT=/app/staticfiles
MEDIA_ROOT=/app/media
HTTP_PORT=80
